# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
1. INTEGER
2. REAL NUMBER
3. TEXT
4. BLOB
YES YOU CAN, it will convert it. for example, int will automatically become integer if you were to use mysql




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Primary keys are unique values in one table. On another table, you can have foreign keys that are not unique but correspond to the primary keys on the other table. Using these values, you can connect different tables through them.




## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
You can have one-to-one, one-to-many, and many-to-many. A one to one is when each column you are comparing has one value that will match to it. This is uncommon, because usually you will have that information in the same table. A one-to-many is when one value in one table can correspond to many values in another table. For example, an employee can have many sales that are in the sales table. A many-to-many is when each value can have multiple values in the other table. An example would be a product and orders table. Each product can be in multiple orders and each order can have multiple products.

## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
You can do an inner join which is the default join, outer join, left join, and a right join (not available in sqlite). An inner join takes only the rows that have values in common. An outer join will take all the rows no matter what, and have no information in the rows that do not match. In a left join, you will have all the rows in the left table and only the rows of the right table that match. The opposite is true with a right join.
If you want to use a right join in sqlite, I believe that you can simply switch which table you are joining and which one you are getting data from and use a left join and it will work the same.


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
An aggregate function takes a lot of data and gets a value such as sum, avg, etc from the data. This presents a problem because you need to know what to group the data by otherwise how does sql know what you want to find the sum of. If you simply call the sum or one of the other aggregate functions, it will just return one value and you don't need to use group by. However, if you are selecting other data from the table, it has to group it by something to know what to get the data in terms of. Therefore, you use the group by function and it will show you the sum/mean/count in terms of the value of your choice.


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
You must use a join table in order to perform a many-to-many join 


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.